@using HowManIsConnected.Services
@using HowManIsConnected.Models

@inject UserTrackerService UserTracker

<h3>Online Users: @OnlineUsers.Count</h3>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Connected At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in OnlineUsers)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.ConnectedAt.ToLocalTime()</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<UserInfo> OnlineUsers = new();

    protected override void OnInitialized()
    {
        // Subscribe to user list updates
        UserTracker.OnUserListChanged += UpdateUserList;
        OnlineUsers = UserTracker.GetConnectedUsers();
    }

    private void UpdateUserList(List<UserInfo> users)
    {
        Console.WriteLine($"🖥 [Blazor UI] Updating user list: {users.Count} users");

        InvokeAsync(() =>
        {
            OnlineUsers = users;
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        // Unsubscribe when component is destroyed
        UserTracker.OnUserListChanged -= UpdateUserList;
    }
}
